@page "/"

<form method="post" action="admin">
    <input name="account" class="form-control col-3" /><br />
    <button type="submit" class="btn btn-secondary">Login</button>
</form>
<br />
Type "user" or "admin" in input box for authorization demo with Syncfusion Blazor Menu component.
